<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/guide.css">
    <title>Guide</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="images/Logo.png" alt="Logo" class="logo-image">         
        </div>
        <nav class="nav-links">
            <a th:href="@{home}">Home</a>
            <a th:href="@{about}">About</a>
            <a th:href="@{guide}">Guide</a>
            <a th:href="@{profile}">Profile</a>
            <a th:href="@{dashboard}">Dashboard</a>
            <a th:href="@{mySentries}">My Sentries</a>
        </nav>
    </div>
    <!-- <button class="sidebar-toggle" onclick="toggleSidebar()">⇒</button>
    <div class="sidebar" id="sidebar">
        
    </div> -->
    <div class="content">
        <div class="main-div">
            <h1 style="font-size: 50px;">Guide page</h1>
            <div class="guide-content" id="guide-content">
                THE GUIDE WILL GO HERE <br>
                Content here<br>
                END
            </div>
            <br>
            <button class="ran-button" onclick="downloadPDF()">Download as PDF</button>
        </div>
    </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script>
        function downloadPDF() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();

            doc.text(document.getElementById('guide-content').innerText, 10, 10);
            doc.save('Guide.pdf');
        }


        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('.navbar');

            navbar.addEventListener('click', function(event) {
                if (window.innerWidth < 768) {
                    navbar.classList.toggle('active');
                    if (navbar.classList.contains('active')) {
                        navbar.style.height = '100vh'; // Full height
                    } else {
                        navbar.style.height = '60px'; // Default height
                    }
                }
            });

            window.addEventListener('resize', function() {
                if (window.innerWidth >= 768) {
                    navbar.classList.remove('active');
                    navbar.style.height = '60px'; // Ensure default height
                }
            });
        });
    </script>
</body>
</html>