<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/mySentries.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>My Sentries</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="images/Logo.png" alt="Logo" class="logo-image">         
        </div>
        <nav class="nav-links">
            <a th:href="@{home}">Home</a>
            <a th:href="@{about}">About</a>
            <a th:href="@{guide}">Guide</a>
            <a th:href="@{profile}">Profile</a>
            <a th:href="@{dashboard}">Dashboard</a>
            <a th:href="@{mySentries}">My Sentries</a>
        </nav>
    </div>
    <button class="sidebar-toggle" onclick="toggleSidebar()">⇒</button>
    <div class="sidebar" id="sidebar">
        <a th:href="@{mySentries}" style="margin-top: 18%;">My sentries</a><br/>
        <a th:href="@{createSentry}">Create a Sentry</a><br/>
        <a th:href="@{proposeSensor}">Propose a Sensor</a>
    </div>
    <div class="content">
        <div class="main-div">
            <h1>My Sentries</h1>
            <table>
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="sentriesBody">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="deleteModal" class="modal">
        <div class="modal-content" style="width: 80%; max-width: 400px; text-align: center;">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete this sentry?</p>
            <button class="ran-button" onclick="confirmDelete()">Yes</button>
            <button class="ran-button" onclick="closeModal()">No</button>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content" style="width: 80%; max-width: 400px; text-align: center;">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2>Edit Sentry Coordinates</h2>
            <form id="editForm">
                <input type="text" class="editLocation" id="editLatitude" placeholder="Latitude" required>
                <input type="text" class="editLocation" id="editLongitude" placeholder="Longitude" required>
                <button type="button" class="ran-button" onclick="submitEdit()" style="margin-top: 10px;">Save Changes</button>
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        let deleteSentryId = null;

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function setCookie(name, value, days) {
            let expires = '';
            if (days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = '; expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '') + expires + '; path=/';
        }

        document.addEventListener("DOMContentLoaded", function() {
            fetchSentries();
        });

        function fetchSentries() {
            const token = getCookie('AUTH-TOKEN');
            if (!token) {
                console.error('No AUTH-TOKEN found');
                return; // Exit if no token
            }
            const url = 'https://www.eco-sentry.com/api/get-user-sentries';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: token
            })
            .then(response => response.json())
            .then(data => {
                populateTable(data);
            })
            .catch(error => console.error('Error fetching sentries:', error));
        }

        function populateTable(sentries) {
            const tableBody = document.getElementById('sentriesBody');
            tableBody.innerHTML = '';

            sentries.forEach((sentry, index) => {
                const row = `<tr>
                                <td>${index + 1}</td>
                                <td>Sentry ${index + 1}</td>
                                <td>${sentry.latitude}, ${sentry.longitude}</td>
                                <td>
                                    <button class= "view-button" onclick="viewSentry('${sentry.id}')">View</button>
                                    <button class="trash-button" onclick="openEditModal('${sentry.id}')">
                                        <img src="/images/edit.png" class="trash-pic"/>
                                    </button>
                                    <button class="trash-button" onclick="openModal('${sentry.id}')">
                                        <img src= "/images/trash.png" class="trash-pic"/>
                                    </button>
                                </td>
                            </tr>`;
                tableBody.innerHTML += row;
            });
        }

        function viewSentry(id) {
            setCookie('SENTRY-ID', id, 1); // Store sentry ID in a cookie for 1 day
            window.location.href = 'sentryInfo';
        }

        function openModal(id) {
            deleteSentryId = id;
            document.getElementById('deleteModal').style.display = 'block';
        }

        function closeModal() {
            deleteSentryId = null;
            document.getElementById('deleteModal').style.display = 'none';
        }

        function confirmDelete() {
            if (deleteSentryId) {
                deleteSentry(deleteSentryId);
            }
            closeModal();
        }

        function deleteSentry(id) {
            const token = getCookie('AUTH-TOKEN');
            if (!token) {
                console.error('No AUTH-TOKEN found');
                return; // Exit if no token
            }

            fetch('https://www.eco-sentry.com/api/delete-sentry', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: token, objId: id })
            })
            .then(response => {
                if (response.ok) {
                    console.log('Sentry deleted successfully:', id);
                    fetchSentries(); // Refresh the list
                    Toastify({
                        text: "Sentry deleted successfully.",
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "#4CAF50",
                    }).showToast();
                } else {
                    throw new Error('Failed to delete sentry.');
                }
            })
            .catch(error => {
                console.error('Error deleting sentry:', error);
                Toastify({
                    text: "Failed to delete sentry. Please try again.",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#D32F2F",
                }).showToast();
            });
        }

        function openEditModal(id) {
            deleteSentryId = id;  // Reusing for edit as well, or use a new variable if needed
            document.getElementById('editModal').style.display = 'block';
        }

        function closeEditModal() {
            document.getElementById('editModal').style.display = 'none';
        }

        function submitEdit() {
            const latitude = document.getElementById('editLatitude').value;
            const longitude = document.getElementById('editLongitude').value;
            console.log('Editing sentry:', deleteSentryId, 'New coordinates:', latitude, longitude);
            // fetch HERE-----------
            closeEditModal();
        }

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.style.transform === 'translateX(0px)') {
                sidebar.style.transform = 'translateX(-100%)'; // Hide the sidebar
            } else {
                sidebar.style.transform = 'translateX(0px)'; // Show the sidebar
            }
        }

        window.addEventListener('resize', function() {
            const sidebar = document.getElementById('sidebar');
            if (window.innerWidth >= 768) {
                sidebar.style.transform = 'translateX(0px)';
            } else if (window.innerWidth < 768 && sidebar.style.transform === 'translateX(0px)') {
                sidebar.style.transform = 'translateX(-100%)';
                return;
            } else {
                sidebar.style.transform = 'translateX(-100%)';
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('.navbar');
            navbar.addEventListener('click', function(event) {
                if (window.innerWidth < 768) {
                    navbar.classList.toggle('active');
                    if (navbar.classList.contains('active')) {
                        navbar.style.height = '100vh'; // Full height
                    } else {
                        navbar.style.height = '60px'; // Default height
                    }
                }
            });

            window.addEventListener('resize', function() {
                if (window.innerWidth >= 768) {
                    navbar.classList.remove('active');
                    navbar.style.height = '60px'; // Ensure default height
                }
            });

            const sidebar = document.getElementById('sidebar');
            if (window.innerWidth >= 768) {
                sidebar.style.transform = 'translateX(0px)'; // Show the sidebar
            } else if (window.innerWidth < 768 && sidebar.style.transform === 'translateX(0px)') {
                return;
            } else {
                sidebar.style.transform = 'translateX(-100%)'; // Hide the sidebar
            }
        });
    </script>
</body>
</html>