<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/mySentries.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Sensor Info</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="images/Logo.png" alt="Logo" class="logo-image">         
        </div>
        <nav class="nav-links">
            <a th:href="@{home}">Home</a>
            <a th:href="@{about}">About</a>
            <a th:href="@{guide}">Guide</a>
            <a th:href="@{profile}">Profile</a>
            <a th:href="@{dashboard}">Dashboard</a>
            <a th:href="@{mySentries}">My Sentries</a>
        </nav>
    </div>
    <button class="sidebar-toggle" onclick="toggleSidebar()">⇒</button>
    <div class="sidebar" id="sidebar">
        <a th:href="@{mySentries}" style="margin-top: 18%;">My sentries</a><br/>
        <a th:href="@{createSentry}">Create a Sentry</a><br/>
        <a th:href="@{proposeSensor}">Propose a Sensor</a>
    </div>
    <div class="content">
        <div class="main-div">
            <h1>Sensor Info</h1>
            <div id="sentryTokenDiv" class="token-display">
                <b>Sensor ID:</b>
                <input id="sensorIdDisplay" class="id-input" type="text" name="sensorId" disabled/>
                <button class="copy-button" onclick="copyToClipboard()">Copy Sensor ID</button>
            </div>
            <div>
                <label for="startDate">From:</label>
                <input type="date" id="startDate">
                <label for="endDate">To:</label>
                <input type="date" id="endDate">
                <button class="ran-button" onclick="loadGraphData()">Show Graph</button>
            </div>
            <iframe id="graphFrame" style="width: 100%; height: 500px;"></iframe>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setupDateTimeInputs();
            const sensorId = getCookie('SENSOR-ID');
            document.getElementById('sensorIdDisplay').value = sensorId;
        });

        function setupDateTimeInputs() {
            const endDate = new Date();
            const startDate = new Date(endDate.getTime() - 7 * 24 * 60 * 60 * 1000); // One week ago
            document.getElementById('startDate').value = startDate.toISOString().split('T')[0];
            document.getElementById('endDate').value = endDate.toISOString().split('T')[0];
        }

        function setupDateTimeInputs() {
            const endDate = new Date();
            const startDate = new Date(endDate.getTime() - 7 * 24 * 60 * 60 * 1000); // Set default dates as one week range
            document.getElementById('startDate').value = startDate.toISOString().split('T')[0];
            document.getElementById('endDate').value = endDate.toISOString().split('T')[0];
        }

        function loadGraphData() {
            // This function now fetches the sentry details first
            const sentryId = getCookie('SENTRY-ID');
            const token = getCookie('AUTH-TOKEN');
            fetch('https://www.eco-sentry.com/api/get-sentry-sensors', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ token, sentryId })
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.length > 0) {
                    const { longitude, latitude } = data[0].sentry;
                    // console.log(longitude, latitude);
                    submitGraphRequest(longitude, latitude);
                } else {
                    console.error('No data available for this sentry');
                }
            })
            .catch(error => console.error('Failed to fetch sentry details:', error));
        }

        function submitGraphRequest(longitude, latitude) {
            const startDate = document.getElementById('startDate').value + "T00:00:00.000Z";
            const endDate = document.getElementById('endDate').value + "T23:59:59.999Z";
            const range = "1"; // 1km range
            const sensorTypes = [getCookie('SENSOR-TYPE-ID')];

            fetch('https://www.eco-sentry.com/generate-multi-sensor-graph', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ startTime: startDate, endTime: endDate, longitude, latitude, range, sensorTypes })
            })
            .then(response => response.text())
            .then(html => {
                const iframe = document.getElementById('graphFrame');
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(html);
                iframe.contentWindow.document.close();
            })
            .catch(error => console.error('Error loading the graph:', error));
        }


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function copyToClipboard() {
            const sensorId = document.getElementById('sensorIdDisplay').value;
            // navigator.clipboard.writeText(sensorId).then(() => {
            //     alert('Copied to Clipboard!');
            // }, (err) => {
            //     console.error('Error copying text: ', err);
            navigator.clipboard.writeText(sensorId).then(() => {
                Toastify({
                    text: "Copied to Clipboard!",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4CAF50",
                }).showToast();
            }, (err) => {
                console.error('Error copying text:', err);
                Toastify({
                    text: "Failed to copy text. Please try again.",
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#D32F2F",
                }).showToast();
            });
        }

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.style.transform === 'translateX(0px)') {
                sidebar.style.transform = 'translateX(-100%)'; // Hide the sidebar
            } else {
                sidebar.style.transform = 'translateX(0px)'; // Show the sidebar
            }
        }

        window.addEventListener('resize', function() {
            const sidebar = document.getElementById('sidebar');
            if (window.innerWidth >= 768) {
                sidebar.style.transform = 'translateX(0px)'; // Show the sidebar
            } else if (window.innerWidth < 768 && sidebar.style.transform === 'translateX(0px)') {
                sidebar.style.transform = 'translateX(-100%)'; // Hide the sidebar
                return;
            } else {
                sidebar.style.transform = 'translateX(-100%)';
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('.navbar');
            navbar.addEventListener('click', function(event) {
                if (window.innerWidth < 768) {
                    navbar.classList.toggle('active');
                    if (navbar.classList.contains('active')) {
                        navbar.style.height = '100vh'; // Full height
                    } else {
                        navbar.style.height = '60px'; // Default height
                    }
                }
            });

            window.addEventListener('resize', function() {
                if (window.innerWidth >= 768) {
                    navbar.classList.remove('active');
                    navbar.style.height = '60px'; // Ensure default height
                }
            });

            const sidebar = document.getElementById('sidebar');
            if (window.innerWidth >= 768) {
                sidebar.style.transform = 'translateX(0px)'; // Show the sidebar
            } else if (window.innerWidth < 768 && sidebar.style.transform === 'translateX(0px)') {
                return;
            } else {
                sidebar.style.transform = 'translateX(-100%)'; // Hide the sidebar
            }
            loadGraphData();
        });
    </script>
</body>
</html>