/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
body {
    font-family: Arial, sans-serif;
    padding-top: 60px; /* Space for fixed header */
}

/* Navigation Bar */
.navbar {
    background-color: #0395ca; /* Primary color */
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1002;
    height: 60px; /* Default height */
    transition: height 0.3s ease;
}

/* On wide screens, make the navbar 50% taller on hover */
@media (min-width: 768px) {
    .navbar:hover {
        height: 130px;
    }
    .navbar:hover .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .content {
        margin-left: 300px; /* Adjust content margin when sidebar is visible */
    }
    .sidebar {
        transform: translateX(0); /* Sidebar visible by default on wide screens */
    }
}

/* Navigation links */
.nav-links {
    display: none; /* Hide links by default */
}

.navbar.active .nav-links {
    display: flex; /* Show links when navbar is active */
    flex-direction: column;
    width: 100%;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block; /* Stacking links vertically */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #adefff;
}

/* Sidebar */
.sidebar {
    background-color: #FFF3E4;
    padding:20px;
    width: 300px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 500;
    transform: translateX(-300px);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1001;
    background-color: #2dc0e7;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar a {
    color: #103438;
    text-decoration: none;
    display: block;  /* Makes each link fill the horizontal space, good for clicking/tapping */
    margin-top: 10px;  
    margin-bottom: 10px;  /* Adds spacing below each link */
    padding: 6px 8px;
}

/* Adjustments for narrow screens */
@media (max-width: 768px) {
    .sidebar-toggle {
        display: block;
    }
}

/* Main Content */
.content {
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
}

/* Search area styles */
.search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.main-div {
    background-color: white;
    padding: 20px;
    /* height: 500px; */
    min-height: 80vh;
}




.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.logo-image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}


#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}
.suggestion {
    padding: 5px;
    cursor: pointer;
}
.suggestion:hover {
    background-color: #f0f0f0;
}