.section {
  display: flex;
  flex-direction: row; /* Default direction */
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: left;
}

.image {
  background-image: url('../images/BackgroundFinal.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column {
  flex: 1; /* Each column takes equal space */
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text */
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .title, .intro {
  margin-top: 15%; 
} */

.title {
  font-size: 650%;
  color: #103438;
  padding-top: 25%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  font-size: 26px; /* Adjust font size for readability */
  color: #103438;
  padding: 1em;
  padding-left: 15%;
  padding-right: 15%;
  /* margin-right: 20%; */
  font-family: 'Times New Roman', Times, serif;
}

.homePage-ourMission-table, .homePage-aboutUs-table {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.homePage-ourMission-table tr, .homePage-aboutUs-table tr {
  padding: 10px; /* Add padding for spacing */
}

/* Media Queries */
@media (max-width: 768px) {
  .section {
      flex-direction: column; /* Stack children vertically */
  }

  .column {
      width: 100%; /* Full width for small screens */
      padding: 5px;
  }

  .title{
    font-size: 40px;
    /* margin-top: 18%; */
    /* margin-bottom: -17%; */
  }

  .intro{
    font-size: 24.5px;
  }

  .intro, .title {
      text-align: center; /* Center text for small screens */
      margin-left: 0;
      margin-right: 0;
  }

  .homePage-ourMission-table td, .homePage-aboutUs-table td {
      display: block; /* Make each cell a block for vertical stacking */
      width: 100%;
  }

  .homePage-ourMission-table, .homePage-aboutUs-table {
      font-size: 24px; /* Adjust font size for smaller screens */
  }

  .homePage-ourMission-table-c1 {
    padding-top: 0; /* Reduced padding to decrease space above 'Mission' */
    margin-top: -30%;
    padding-bottom: 20px; /* Adjust padding as needed */
  }

  .homePage-ourMission-table-c2, .homePage-aboutUs-table-c2 {
    padding: 20px;
  }
}

  .mission {
    font-size: 50%;
    color: #b0dcc7;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .homePage-ourMission-table-c1, .homePage-ourMission-table-c2, .homePage-aboutUs-table-c1, .homePage-aboutUs-table-c2 {
    display: block;
    width: 80%; /* Ensure full width for responsive design */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .homePage-ourMission-table-c1 {
    padding: 20px; /* Add padding for spacing */
    padding-bottom: 80px;
  }
  
  .homePage-ourMission-table-c2 {
    background-color: #b0dcc7;
    padding: 40px;
    margin-bottom: -2%;
  }
  
  .homePage-aboutUs-table-c1 {
    padding: 80px;
    padding-bottom: -80px;
  }
  
  .homePage-aboutUs-table-c2 {
    background-color: #b0dcc7;
    padding: 40px;
  }