.App {
  text-align: center;
  padding-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1E313A;
}

.App-link {
  color: #61dafb;
}

.button:hover {
  background-color: #267646;
  color: white;
}

/*Dashboard page divs*/

.yourSent-sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1E313A;
  overflow-x: hidden;
  padding-top: 15%;
  color: white;
}

.yourSent-sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
}

.yourSent-sidebar a:hover {
  color: #70ABBD;
}

.yourSent-main{
  background-color: white;
  margin-left: 20%;
}

.yourSent-box {
  border-radius: 5px;
  background-color: #FEF9EF;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 100px;
  margin: 40px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.yourSent-logoCircle {
  background-color: white;
  border-color: #267646;
  border-width: 1px;
  border-style: solid;
  height: 15%;
  width: 45%;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35%;
}

#yourSentDivTitle{
  text-align: left;
  padding-left: 40px;
  font-size: xxx-large;
  text-shadow: -1px 4px 6px rgba(36, 50, 65, 0.5);
}

.yourSentriesSearchBar {
  border-radius: 20px;
  background-color: white;
  width: 20%;
  height: 5%;
  padding: 5px;
  margin: 2%;
  color: #223354;
}

.yourSentSearchDiv{
  margin-top: -50px;
  margin-left: -35px;
}

.yourSent-view-button {
  background-color: #232E3A; 
  border: none; 
  color: white; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 14px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
}

.yourSent-view-button:hover {
  border: 1px solid;
  border-color: #232E3A;
  background-color: white; 
  color: #232E3A;
}

.sentriesListTable{
  table-layout: auto ;
  width: 100%;
  height: 100px;
  border-collapse: separate;
  border-spacing: 0;
  padding: 0;
  margin-top: 15px;
}

.th-sentryTable {
  border: 1px solid;
  border-radius: 20px;
  border-color: #223354;
  border-left: 0; 
  border-right: 0;
  background-color: #F6F8FB;
  font-weight: 400;
  font-size: medium;
}

.tr-sentryTable {
  background-color: white;
  border-radius: 20px;
  font-weight: 600;
  font-size: large;
}

.h3-sentriesTable {
  text-align: center;
  padding: 0;
}

.create-sentry{
  display: flex;
}
.createSentryTextBoxes{
  display: flex;
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 40px;
  width: 200%;
  line-height: 24px;
  padding: 5px;
  margin: 20px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  
}

.access-options {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  margin: 20px;
}

.access-options p {
  margin-right: 10px;
  font-weight: bold;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.radio-buttons label:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 5px;
}

.radio-buttons input[type="radio"]:checked + label:before {
  background-color: #1E313A;
  /* border-color: #1E313A; */
}

@media screen and (max-width: 768px) {
  .createSentryTextBoxes {
    width: 100%; /* Adjust width for smaller screens */
  }
}

.sentry-details-create{
  display: grid;
  text-align: center;
  text-align-last: center;
  border-radius: 5px;
  background-color: #1E313A;
  width: 100px;
  height: 40px;
  padding: 10px;
  margin: 20px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.sentry-details-create:hover {
  border: 1px solid;
  border-color: #232E3A;
  background-color: white; 
  color: #232E3A;
}

.inputs-container{
  margin-right: 33%;
}

.tokenDiv{
  margin-top: 6%;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  text-align: left;
  width: 120%;
  padding-left: 40px;
  padding-bottom: 20px;
  overflow: auto;
}

.tokenCode{
  border: 1px solid;
  background-color: #D2D2D2;
  width: 70%;
  height: 30px;
}

.copy-button{
  text-align: center;
  border-radius: 5px;
  background-color: #1E313A;
  color: white;
  cursor: pointer;
}

.sentry-graphs {
  display: flex;
  justify-content: space-between; /* Add space between the divs */
}

#uptime {
  background-color: white;
  border: 1px solid;
  /* border-color: red; */
  flex: 0.45; /* Adjust flex value to make it smaller */
  margin-right: 1px; 
  margin-left: 30px;
}

#connection {
  background-color: white;
  border: 1px solid;
  /* border-color: blue; */
  flex: 0.45; /* Adjust flex value to make it smaller */
  margin-left: 1px; 
  margin-right: 30px;
}

.sensorTable {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}

.sensorTable th, .sensorTable td {
  text-align: center;
  padding: 8px;
}

.sensorTable th:nth-child(4),
.sensorTable td:nth-child(4) {
  width: 25%;
}

.sensorTable td {
  border-bottom: 1px solid #EEEEEE;
}

.sensorTable tr{
  padding: 10px;
}

.sensorTable tr:last-child td {
  border-bottom: none; /* Removes bottom border for the last row */
}

.sensorStatus {
  width: auto; 
  height: auto; 
  border-radius: 100px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* font-size: 20px; */
}

.error {
  background-color: rgba(211, 64, 83, 0.1);
  color: #D34053;
}

.connected {
  background-color: rgba(33, 150, 83, 0.1);
  color: #219653;
}
/*End of dashboard divs*/

/* About page divs */

.center-table {
  table-layout: fixed ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  height: auto;
}

.container-about {
  margin: auto;
  margin-top: 70%;
  height: 100%;
  padding: auto;
}

.about-welcome-table{
  table-layout: fixed;
  margin-left: 0px;
  margin-right: auto;
  width: 100%;
  height: 40%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.about-background {
  color: #b0dcc7;
  width: 100%;
  height: 100%;
  background-color: #103438;
  margin-left: 0px;
}

.welcome-table-c1{
  width: 35%;
  padding: 1%;
}

.welcome-table-c2{
  width: 65%;
  padding: 3%;
}

.welcome-text-box {
  width: 90%;
  height: 50%;
  padding: 0;
  margin: 2%;
  color: black;
}

.about-text-box {
  width: 100%;
  height: 90%;
  color: #b0dcc7;
  margin-left: 5%;
  margin-right: 10%;
}

.aboutUs-table{
  width: 80%;
  margin-left: 5%;
  margin: auto;
}

.aboutUs-text-box{
  background-color: white;
  position: absolute;
  margin-top: 0px;
  width: 85%;
  height: 90%;
  padding: 2%;
  color: #1E313A;
}

.founder-text-box {
  border-radius: 20px;
  background-color: #103438;
  width: 60%;
  height: 60%;
  padding: 15%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 15%;
  margin-bottom: 15%;
  color: #b0dcc7;
}

.center-tableRows{
  width: 30%;
}

.center-tableRows2{
  width: 50%;
  background-color: #103438;
  color: #b0dcc7;
}

.h3-about {
  text-align: left;
  margin: 2%;
  font-weight: bold;
  padding: 0;
  color: #0395ca;
}

.h3-about2 {
  text-align: left;
  margin-top: 3%;
  margin: 1%;
  font-weight: bold;
  padding: 0;
}

.about-profileCircle {
  background-color: white;
  border-color: #267646;
  border-width: 0.5%;
  border-style: solid;
  height: 100%;
  width: 95%;
  padding: 5%;
  border-radius: 50%;
  display: inline-block;
}

/* End of about page divs */

/* Start of contact us page divs */
.contact-map { 
  width: 100%;
  margin-left: 5%;
}
.contact-center-table {
  table-layout: fixed ;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.details-text-box {
  background-color: #449074;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 15px;
  margin-left: 10%;
  margin-bottom: 15px;
  color: white;
}
.details-info-boxes {
  background-color: white;
  width: 90%;
  height: 10%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.details-info-boxes-input{
  border-radius: 5px;
  background-color: white;
  margin-top: 1%;
  width: 70%;
  height: 50%;
  padding:1.5%;
  color: #0395ca;
}
.contact-h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.contact-details-submit {
  background-color: #232E3A; 
  border: none; 
  color: white; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 14px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
}

.contact-details-submit:hover {
  border: 1px solid;
  border-color: #232E3A;
  background-color: white; 
  color: #232E3A;
}

.contact-details-table {
  width: 70%;
  height: 40%;
  padding: 1px;
  margin: auto;
}
.contact-details-table-col1 {
  width: 10%;
  height: 50%;
  text-align: center;
}
.contact-center-table-col1 {
  width: 40%;
}
.contact-center-table-col1 {
  width: 60%;
}
.contact-details-table-col2 {
  width: 60%;
  height: 50%;
}
.h2-contact {
  text-align: left;
  margin-left: 5%;
  font-weight: bold;
  padding: 0;
  text-decoration-line: underline;
}
.h3-contact {
  text-align: right;
  margin-left: 5%;
  padding: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.details-info-boxes-enquiry{
  background-color: white;
  width: 90%;
  height: 40%;
  padding: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.contact-enquiry-text-box {
  background-color: #0395ca;
  width: 100%;
  height: 90%;
  padding: 20px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  color: white;
}
/* End of contact us page divs */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ACCOUNT   */
.Account {
  background-color: #00A3A3;
  text-align: center;
}

/* .profilePic {
  margin-left: 15%;
  width: 20%;
  color: black;
  background-color: white;
  float: left;
  background-color: white;
} */

/* .accountInfo {
  margin-right: 15%;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  color: black;
  background-color: white;
  vertical-align: top;
  float: right;

  text-align: center;
  font-family: Helvetica;
} */

.accountTable{
  margin-left: 10%;
  /* align-self: center; */
  /* text-align: center; */
}

/* .profilePicImage {
  width: 50%; 
  align-self: center;
  padding-top: 5%; 
  padding-bottom: 5%;
} */

.accountTable {
  /* border: 1px solid; */
  table-layout: fixed ;
  width: 80%;
  height: 10px;
  border-collapse: collapse;
  /* border-spacing: 0; */
  /* margin-top: 15px; */
}

/* .profilePictureCell {
  border: 1px solid;
  float: left;
  align-content: baseline;
} */

.accountInfoCell {
  /* border: 1px solid; */
  /* float: left; */
  /* align-content: baseline; */
  text-align: center;
}

/* .accountInfoTextTable {
  background-color: white;
  border-radius: 10%;
  border-color: black;
  border-style: dashed;
  width: 50%;
} */

.accountDetails {
  border-style: none;
  border-radius: 3px;
  font-size: 100%;
  height: max-content;
  width: 30%;
  /* padding-left: 1%;
  padding-top: 3%;
  padding-bottom: 3%; */
}

.bioDetails {
  border-style: none;
  border-radius: 25px;
  font-size: 100%;
  width: 250%;
  padding-left: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.updateAccount {
  /* transition-duration: 0.5s;
  background-color: #103438;
  width: 75%;
  height: 100%;
  font-size: 100%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%; */
}

.updateAccount:hover {
  background-color: white;
  color: #103438;
}


/*  Dashboard Page  */
.Dashboard {
  background-color: #00A3A3;
}

.dashboardButtons:link {
  cursor: pointer;
}

.addressInput {
  border-style: none;
  border-radius: 25px;
  font-size: 150%;
  width: 55%;
  padding-left: 1%;
}

.locationForm {
  padding-top: 3%;
  padding-left: 5%;
}

.longlatInput {
  border-style: none;
  border-radius: 25px;
  font-size: 150%;
  width: 15%;
  padding-left: 1%;
}

.searchLocationButton {
  transition-duration: 0.5s;
  background-color: #103438;
  width: 12%;
  height: 100%;
  font-size: 100%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.dashboardGraphs {
  table-layout: fixed ;
  width: 70%;
  margin-left: 25%;
  height: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin-top: 15px;
}


/* LOGIN PAGE  */
.login {
  background-color: #00A3A3;
}

.loginButton {
  transition-duration: 0.5s;
  background-color: #45B667;
  width: 7%;
  height: 50px;
  font-size: 75%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}