.App {
  text-align: center;
  padding-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1E313A;
}

.App-link {
  color: #61dafb;
}

.button:hover {
  background-color: #267646;
  color: white;
}

/*Dashboard page divs*/
.joinButton {
  border-radius: 5px;
  background-color: #70ABBD; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
}
.createButton {
  border-radius: 5px;
  background-color: #70ABBD; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
}
.createButton button:hover {
  color: #1B4962;
}

.dashboard-sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1B4962;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  margin-top: 4.3%;
}

.dashboard-sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.dashboard-sidebar a:hover {
  color: #70ABBD;
}

.dashboard-main{
  background-color: white;
  margin-left: 20%;
}

.dashboard-box {
  border-radius: 5px;
  background-color: white;
  width: 85%;
  height: 450px;
  padding: 30px;
  margin: 40px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.dashboard-logoCircle {
  background-color: white;
  border-color: #267646;
  border-width: 1px;
  border-style: solid;
  height: 15%;
  width: 45%;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35%;
}

.sentiesListTable{
  table-layout: fixed ;
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin-top: 15px;
}

.tr-sentryTable {
  border: 1px solid;
}

.dashboardSentiesSearchBar {
  border-radius: 10px;
  background-color: white;
  width: 25%;
  height: 5%;
  padding: 5px;
  margin: 2%;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.h3-sentriesTable {
  text-align: left;
  font-weight: bold;
  padding: 0;
}

.createSentryTextBoxes{
  border-radius: 5px;
  background-color: #70ABBD;
  width: 85%;
  height: 10px;
  padding: 5px;
  margin: 20px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #1E313A;
}

.sentry-details-create{
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 15%;
  height: 3%;
  padding: 1%;
  color: #1E313A;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*End of dashboard divs*/

/* About page divs */


.container-about {
  margin: auto;
  height: 100%;
  padding: auto;
}

.about-welcome-table{
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.about-background {
  color: white;
  background-color: #0395ca;
}

.welcome-table-c1{
  width: 35%;
  padding: 1%;
}

.welcome-table-c2{
  width: 65%;
  padding: 3%;
}

.welcome-text-box {
  width: 90%;
  height: 50%;
  padding: 0;
  margin: 2%;
  color: black;
}

.about-text-box {
  width: 100%;
  height: 90%;
  color: white;
  margin-left: 5%;
  margin-right: auto;
}

.aboutUs-table{
  width: 80%;
  margin-left: 5%;
  margin: auto;
}

.aboutUs-text-box{
  background-color: white;
  width: 85%;
  height: 90%;
  padding: 2%;
  color: #1E313A;
}

.founder-text-box {
  border-radius: 20px;
  background-color: #0395ca;
  width: 60%;
  height: 60%;
  padding: 15%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 15%;
  margin-bottom: 15%;
  color: white;
}

.center-table {
  table-layout: fixed ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.center-tableRows{
  width: 30%;
}

.center-tableRows2{
  width: 50%;
  background-color: #0395ca;
  color: white;
}

.h3-about {
  text-align: left;
  margin: 2%;
  font-weight: bold;
  padding: 0;
  color: #0395ca;
}

.h3-about2 {
  text-align: left;
  margin-top: 3%;
  margin: 1%;
  font-weight: bold;
  padding: 0;
}

.about-profileCircle {
  background-color: white;
  border-color: #267646;
  border-width: 0.5%;
  border-style: solid;
  height: 50%;
  width: 95%;
  padding: 5%;
  border-radius: 50%;
  display: inline-block;
}

/* End of about page divs */

/* Start of contact us page divs */
.contact-map { 
  width: 100%;
  margin-left: 5%;
}
.contact-center-table {
  table-layout: fixed ;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.details-text-box {
  background-color: white;
  width: 100%;
  height: 40%;
  padding: 5px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  color: #0395ca;
}
.details-info-boxes {
  background-color: white;
  width: 90%;
  height: 10%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.details-info-boxes-input{
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 5%;
  padding: 10%;
  color: #0395ca;
}
.contact-details-submit {
  text-align: center;
  background-color: white;
  width: 15%;
  height: 3%;
  padding: 1%;
  color: #0395ca;
  margin: auto;
}
.contact-details-table {
  width: 70%;
  height: 40%;
  padding: 1px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.contact-details-table-col1 {
  width: 10%;
  height: 5%;
  text-align: center;
}
.contact-details-table-col2 {
  width: 10%;
  height: 5%;
}
.h2-contact {
  text-align: left;
  margin-left: 5%;
  font-weight: bold;
  padding: 0;
  text-decoration-line: underline;
}
.h3-contact {
  text-align: left;
  margin-left: 5%;
  font-weight: bold;
  padding: 0;
  color: #0395ca;
}
.details-info-boxes-enquiry{
  background-color: white;
  width: 90%;
  height: 40%;
  padding: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.contact-enquiry-text-box {
  background-color: #0395ca;
  width: 100%;
  height: 90%;
  padding: 20px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  color: white;
}
/* End of contact us page divs */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ACCOUNT   */
.Account {
  background-color: #45B667;
}

.profilePic {
  margin-left: 15%;
  width: 20%;
  color: black;
  background-color: white;
  float: left;
  background-color: white;
}

.accountInfo {
  margin-right: 15%;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  color: black;
  background-color: white;
  vertical-align: top;
  float: right;

  text-align: left;
  font-family: Helvetica;
}

.profilePicImage {
  width: 50%;
  align-self: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.accountTable {
  table-layout: fixed ;
  width: 80%;
  height: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin-top: 15px;
}

.accountInfoCell {
  float: left;
  align-content: baseline;
}

.accountInfoTextTable {
  background-color: white;
  border-radius: 10%;
  border-color: black;
  border-style: dashed;
  width: 100%;
}

.accountDetails {
  border-style: none;
  border-radius: 25px;
  font-size: 100%;
  width: 150%;
  padding-left: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bioDetails {
  border-style: none;
  border-radius: 25px;
  font-size: 100%;
  width: 250%;
  padding-left: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.updateAccount {
  transition-duration: 0.5s;
  background-color: #103438;
  width: 75%;
  height: 100%;
  font-size: 100%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.updateAccount:hover {
  background-color: white;
  color: #103438;
}


/*  My Sentries Page  */
.mySentries {
  background-color: #45B667;
}

.mySentriesButtons:link {
  cursor: pointer;
}

.addressInput {
  border-style: none;
  border-radius: 25px;
  font-size: 150%;
  width: 55%;
  padding-left: 1%;
}

.locationForm {
  padding-top: 3%;
  padding-left: 5%;
}

.longlatInput {
  border-style: none;
  border-radius: 25px;
  font-size: 150%;
  width: 15%;
  padding-left: 1%;
}

.searchLocationButton {
  transition-duration: 0.5s;
  background-color: #103438;
  width: 12%;
  height: 100%;
  font-size: 100%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.mySentriesGraphs {
  table-layout: fixed ;
  width: 70%;
  margin-left: 25%;
  height: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin-top: 15px;
}


/* LOGIN PAGE  */
.loginButton {
  transition-duration: 0.5s;
  background-color: #45B667;
  width: 7%;
  height: 50px;
  font-size: 75%;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}