.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1E313A;
}

.App-link {
  color: #61dafb;
}

.button:hover {
  background-color: #267646;
  color: white;
}

/*Dashboard page divs*/

.dashboard-sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1B4962;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  margin-top: 3.5%;
}

.dashboard-sidebar a {
  padding: 10px;
  margin-top: ;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.dashboard-sidebar a:hover {
  color: #70ABBD;
}

.dashboard-main{
  background-color: white;
  margin-left: 20%;
}

.dashboard-box {
  border-radius: 5px;
  background-color: white;
  width: 85%;
  height: 450px;
  padding: 30px;
  margin: 40px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.dashboard-logoCircle {
  background-color: white;
  border-color: #267646;
  border-width: 1px;
  border-style: solid;
  height: 15%;
  width: 45%;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35%;
}

/*End of dashboard divs*/

/* About page divs */
.about-page{
  height: 100vh;
}

.container-about {
  margin: 0 auto;
  height: 100%;
  padding: auto;
}

.about-welcome-table{
  table-layout: fixed ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.welcome-table-c1{
  width: 35%;
  padding: 10px;
}

.welcome-table-c2{
  width: 65%;
  padding: 10px;
}

.welcome-text-box {
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: 400px;
  padding: 0;
  margin: 5px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.about-text-box {
  border-radius: 5px;
  background-color: white;
  width: 85%;
  height: 90%;
  padding: 20px;
  margin: auto;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.founder-text-box {
  border-radius: 5px;
  background-color: white;
  width: 60%;
  height: 60%;
  padding: 50px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #1E313A;
  box-shadow: 0 0 10px 5px #70ABBD;
}

.center-table {
  table-layout: fixed ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.center-tableRows{
  width: 25%;
}

.h3-about {
  text-align: left;
  margin: 50px;
  font-weight: bold;
  padding: 0;
}

.about-profileCircle {
  background-color: white;
  border-color: #267646;
  border-width: 1px;
  border-style: solid;
  height: 180px;
  width: 95%;
  border-radius: 50%;
  display: inline-block;
}

/* End of about page divs */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
